version: '3.1'

services:
  server:
    build:
      context: .
      target: final
    ports:
      - 8080:80
    environment:
      CosmosConnectionString: mongodb://foo:bar@mongo:27017/
      OcpApimSubscriptionKey: "<Your TfGM OpenData API OcpApimSubscriptionKey here>"
  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: foo
      MONGO_INITDB_ROOT_PASSWORD: bar

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: foo
      ME_CONFIG_MONGODB_ADMINPASSWORD: bar
      ME_CONFIG_MONGODB_URL: mongodb://foo:bar@mongo:27017/

